

.toet {
  width: 70%;
  border-radius: 50000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:50px;
}
.btsgroot {
    width: 100%;
  }

.albums {
  background: #F2C7B4;
  padding-top: 45px;
  margin: none;
  }

.no-padding {
  padding: 0 0 0 0;
}


.cd-lijst {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.bodytext {
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;

    
}

td, th {
    border: 0px;
    text-align: left;
    padding: 6px;
}
td:first-child {
  vertical-align: top;
  width: 40px;
}

td:last-child {
  width: 40px;
}
.album2 {
  background: #EBEFF5;
  margin: none;
}

.album3 {
  background: #FFF;
  margin: none;
}

.knop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.button {
  background-color: #94BEDB;
  border: none;
  color: white;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  outline: none;
}

.button:hover{
  background-color:#BFB9DA;
  color: white;
}

.button:active{
  background-color:#BFB9DA;
  color: white;
}


.hero {
  background: #CCC url('http://bts.ibighit.com/youngforever/img/photo/day/2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  350px;
  position: relative;
}

.hero__text { 
  font-weight: 400;
  font-size: 1.5rem;
  position:  absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  text-align: center;
  transform:  translate(-50%,-50%);
}

.hero2 {
  background: #CCC url('../assets/images/bts1.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  250px;
  position: relative;
}

.hero3 {
  background: #CCC url('../assets/images/bts2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  150px;
  position: relative;
}


/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}




/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  
  .tekstdesktop {
    margin-top: 50px;
  }

  .tekstdesktop2 {
    margin-top: 120px;
  }
  .cd-lijst {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

  }

}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
   

}



/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}